<div class="admin_layout">
  <% provide(:title, t(".title")) %>
  <h1 class="text-center"><%= t(".title") %></h1>
  <%= link_to t(".new_tour"), new_admin_tour_path, class: "btn-custom btn btn-primary" %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t ".sno" %></th>
        <th><%= sort_link(@q, :title, t(".title")) %></th>
        <th><%= sort_link(@q, :tour_start, t(".tour_start")) %></th>
        <th><%= t ".tour_finish" %></th>
        <th><%= t ".travelling" %></th>
        <th><%= t ".price" %></th>
        <th><%= t ".status" %></th>
        <th><%= t ".action" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @tours %>
    </tbody>
  </table>
  <%= will_paginate %>
</div>
